@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
}

::-webkit-scrollbar-thumb {
  background: #404040;
}

::-webkit-scrollbar-thumb:hover {
  background: #144E80;
} 
header{
    width: 100%;
    height: 11vh;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    background-color: #144E80;
    top: 0;
}
img{
  height: 100%;
}
#logo{
    width: 6vw;
    height: 10.35vh;
    float: left;
    margin-left: 10%;
    margin-right: 15%;
}
#logo-img img{
    width: 100%;
} 
#divBusca{
    background-color:#fff;
    border:solid 2px #217CCC;
    width:35vw;
    height:5vh;
    float: left;
    margin-top: 1%;
  }
  input{
    border-radius:3%;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left: 2%;
    font-size: 1rem;
    border:none;
    height:5vh;
    width:29.3vw;
    
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:5vh;
    border-radius:0 2% 2% 0;
    width:5vw;
    font-weight:bold;
    color: #fff;
    background:#217CCC;
  }
  
  #divBusca img{
    float:left;
  }
  #logos{
    display: flex;
    width: 20vw;
    height: 9.43vh;
    margin-left: 30%;
    
  }
  nav {
    width: 100%;
     height: 4.6vh;
     border-bottom: 1% solid #304E69;
     margin-top: 0.5%;
     position: fixed;
     background-color:#304E69;
 }
  nav ul{
    background-color: #304E69;
    margin-left: 14%;
  }
  li{
    margin-right: 15%;
    margin-top: 0.4%;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    background-color: #304E69;
    
  }
  nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #F1FFD9;
    background-color: #304E69;
  }
  nav ul li a:hover {
    text-shadow: 2px 2px 10px #fff;
  }
#banner{
  width: 92vw;
  height: 65vh;
  margin-top: 13%;
  margin-left: 3.5%;
  margin-right: 2%;
}
#Titulo{
  margin-top:10%;
  margin-bottom: 3%;
  margin-left: 2.3%;
  font-size: 1.9rem;
  font-family: 'IM Fell Great Primer SC', serif;
  color: #304E69;
  font-weight: bold;
  
}
#flex-container{
  display: flex;
  flex-direction: space-between;
  justify-content: space-around;
  height: 30vw;
  margin-top: 3%;
 }
 
.livros{
  height: 20vh;
  margin-left: 30%;
  margin-top: 8%;
  text-decoration: none;
}
.preco:hover{
  text-shadow: 2px 2px 10px #fff;
}
.escrita{
  margin-left: -42%;
  margin-top: 5%;
  text-align: center;
  font-family: 'IM Fell Great Primer SC', serif;
  color: #000;
  
}
.sombra{
  box-shadow: inset 0 -3em 3em rgba(146, 139, 139, 0.1),
  0 0 0 2px rgb(255,255,255),
  0.3em 0.3em 1em rgba(0,0,0,0.3);
  width: 20vw;
  height: 45vh;
}
.estrelas{
  width: 7vw;
  height: 16vh;
  margin-top: -15%;
  margin-left: -27%;
}
.preco{
  font-size: 1.8rem;
  margin-top: -4%;
  margin-left: -15%;
  font-weight: bold;
  color: #000;
}
.img-autores{
  height: 35vh;
}

.nomes{
  text-align: center;
  font-weight: bold;
  color: #304E69;
  font-size: 1.5rem;
}
.nomes:hover{
  text-shadow: 5px 2px 5px rgb(23, 117, 199);
}
a{
  text-decoration: none;
  list-style: none;
}
#contato{
  background-color: #144E80;
  height: 29.7vh;
}
#foto{
  width: 20vw;
  height: 9.43vh;
  margin-left: 1%;
}
#cadastro{
  background-color:#fff;
  border:solid 2px #217CCC;
  width:27vw;
  height:5vh;
  float: left;
  margin-left: 33%;
}

#email{
  float:left;
  background-color:transparent;
  font-size: 1rem;
  border:none;
  height:5vh;
  width:22vw;
}
#enviar{
  border:none;
display: inline-block;
  height:5vh;
  border-radius:0 2% 2% 0;
  width:5vw;
  font-weight:bold;
  color: #fff;
  background:#217CCC;
}
#redes{
  width: 47vh;
  height: 8vw;
  margin-left:5%;
  margin-top: -3%;
  display: inline-block;
}
.nomess{
  text-align: center;
  font-weight: bold;
  color: #304E69;
  font-size: 1.5rem;
}



/*-------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1000px)
{
  #banner{
    margin-top: 14%;
  }
  nav ul{
    background-color: #304E69;
    margin-left: 10%;
  }
  
  nav ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #F1FFD9;
    background-color: #304E69;
  }
  #contato{
    background-color: #144E80;
    height: 32vh;
    margin-top: 5%;
  }
  #redes{
    width: 47vh;
    height: 10vw;
    margin-left:-2%;
    margin-top: -3%;
    display: inline-block;
  }
  #autores{
    margin-top: 4%;
  }
  #editoras{
    margin-top: -5%;
  }
  .sombra{
    height: 48vh;
  }
}
@media screen and (max-width:895px)
{
  nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #F1FFD9;
    background-color: #304E69;
  }
  .escrita{
    margin-left: -42%;
    margin-top: 5%;
    font-size: 0.8rem;
    text-align: center;
    font-family: 'IM Fell Great Primer SC', serif;
    
  }
}
@media screen and (max-width:750px) 
{

  nav ul{
    background-color: #304E69;
    margin-left: 8%;
  }
  nav ul li a{
    text-decoration: none;
    font-size: 0.8rem;
  }
  #banner{
  width: 92vw;
  height: 60vh;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 4%;
  }
  #flex-container{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
  justify-content:space-between;
    height: 10vw;
    width: 100%;
    margin-bottom: 12%;
   }
   .livros{
    height: 20vh;
    width: 14vw;
    margin-top: 3%;
    margin-left: 35%;
  }
  .escrita{
    margin-left: -100%;
    font-size: 1.2rem;
    width: 40vw;
  }
  .sombra{
    width: 35vw;
    height: 50vh;
    margin-bottom: 7%;
    margin-right: 5%;
    margin-left: 10%;
  }
  .estrelas{
    width: 20vw;
    height: 17vh;
    margin-top: -18%;
    margin-left: -29%;
  }
  .preco{
    font-size: 1.9rem;
    width: 40vw;
    margin-top: -8%;
    margin-left: -19%;
  }
  #autores{
    margin-top: 80%;
  }
  .img-autores{
    height: 30vh;
    width: 20VW;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-right: 15%;
  }
  .nomes{
    font-size: 0.9rem;
    margin-left: 10%;
  }
  .nomes:hover{
    text-shadow: 5px 2px 5px rgb(23, 117, 199);
  }
  #editoras{
    margin-top: 45%;
  }
  #contato{
    height: 50vh;
    margin-top: 45%;
    width: 110vw;
  }
  #divBusca{
    background-color:#fff;
    border:solid 2px #217CCC;
    width:37vw;
    height:5vh;
    float: left;
    margin-top: 1%;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:5vh;
    border-radius:0 2% 2% 0;
    width:6.9vw;
    font-weight:bold;
    color: #fff;
    background:#217CCC;
  }
  
  #divBusca img{
    float:left;
  }
  #contato{
    background-color: #144E80;
    height: 29vh;
    width: 100vw;
  }
}
@media screen and (max-width:700px) 
{
  nav ul{
    background-color: #304E69;
    margin-left: 6%;
  }
  nav ul li a{
    text-decoration: none;
    font-size: 0.8rem;
    
  }
  nav ul li a:hover {
    text-shadow: 2px 2px 10px #fff;
  }
  #editoras{
    margin-top: 40%;
  }
  #contato{
    background-color: #144E80;
    height: 29vh;
    width: 118vw;
    margin-top: 60%;
  }
  #autores{
    margin-top: 90%;
  }
  #cadastro{
    width:29vw;
    height:5vh;
    margin-left: 35%;
  }
  #enviar{

    height:5vh;
    width:7vw;
  }
  #redes{
    height: 10vw;
  }

}
@media screen and (max-width:600px)
{
  nav {
    width: 100%;
     height: 4.6vh;
     border-bottom: 1% solid #304E69;
     margin-top: 0.5%;
     position: fixed;
     background-color:#304E69;
 }
  nav ul{
    background-color: #304E69;
    margin-left: 10%;
  }
  li{
    margin-right: 12%;
    margin-top: 0.4%;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    background-color: #304E69;
    
  }
  nav ul li a{
    font-size: 0.7rem;
   
  }
  .escrita{
    font-size: 0.9em;
}
.estrela{
  margin-left: -300%;
}
.preco{
  font-size: 1.5rem;
}
#banner{
  width: 98vw;
  height: 50vh;
  margin-top: 19%;
  margin-left: 5%;
  margin-right: 2%;
  }
#autores{
  margin-top: 110%;
}
.nomes{
  margin-left: 39%;
  font-size: 1rem;
}
#editoras{
  margin-top: 70%;
}
.nomess{
  margin-left: 30%;
  font-size: 1.5rem;
}
.img-autores{
  margin-bottom: 15%;
}
#divBusca{
  background-color:#fff;
  border:solid 2px #217CCC;
  width:37vw;
  height:5vh;
  float: left;
  margin-top: 1%;
}
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left: 2%;
  font-size: 1rem;
  border:none;
  height:5vh;
  width:29vw;
  
 }
#btnBusca{
  border:none;
  float:left;
  height:5vh;
  border-radius:0 2% 2% 0;
  width:7.2vw;
  font-weight:bold;
  color: #fff;
  background:#217CCC;
}
#contato{
  margin-top: 80%;
}
#redes{
  width: 45vh;
  height: 12vw;
  margin-top: -3%;

}
}
@media screen and (max-width:500px)
{
  #logos{
    width: 10vw;
  }
  .img-autores{
    height: 30vh;
    margin-left: 1%;
  }
  nav {
    width: 100%;
     height: 4.6vh;
     border-bottom: 1% solid #304E69;
     margin-top: 0.5%;
     position: fixed;
     background-color:#304E69;
 }
  nav ul{
    background-color: #304E69;
    margin-left: 10%;
  }
  li{
    margin-right: 10%;
    margin-top: 0.4%;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    background-color: #304E69;
    
  }
  nav ul li a{
    font-size: 0.7rem;
   
  }
#banner{
  height: 30vh;
  margin-top: 20%;
  margin-left: 10%;
}
#autores{
  margin-top: 115%;
}
.nomes{
  margin-left: 55%;
  font-size: 1rem;
}
#editoras{
  margin-top: 80%;
}
.preco{
  font-size: 1.5rem;
}
.nomess{
  margin-left: 47%;
}
#divBusca{
  width:39vw;
}
#btnBusca{
  width:9.1vw;
  font-size: 0.7rem;
}
#contato{
  margin-top: 90%;
}
#redes{
  height: 15vw;
}
#cadastro{
  width:35vw;
}
#enviar{
  
  height:5vh;
  margin-left: 15%;
  width:7.75vw;
}
#flex-container{
  height: 15vw;
 }
.livros{
  height: 20vh;
  width: 14vw;
  margin-left: 26%;
}
.escrita{
  margin-left: -75%;
  font-size: 0.8rem;
}
.sombra{
  width:35vw;
  height: 43vh;
  margin-right: 2%;
  margin-left: 6%;
}
.estrelas{
  height: 14vh;
}
#enviar{
  font-size: 0.7rem;
}
}
@media screen and (max-width:390px) 
{
header{
  width: 100vw;
}
  #logo{
    width: 5vw;
    height: 8vh;
    margin-left: 3%;
  }
  #logos{
    width: 9vw;
    height: 6vh;
    margin-top: 1%;
    margin-left: 65%;
  }
  #divBusca{
    width:39vw;
    height:3vh;
    margin-top: 3%;
    margin-left: 5%;
  }
  
  #txtBusca{
    padding-left: 2%;
    font-size: 0.9rem;
    border:none;
    height:3vh;
    width:29.3vw;
  }
  #btnBusca{
    height:3vh;
    widt:8.87;
    font-size: 0.5rem;
  }
 
  nav {
     margin-top: 3%;
     height: 3vh;
    width: 100vw;
 }
  nav ul{
    background-color: #304E69;
    margin-left: 7%;
  }
  li{
    margin-right: 10%;
    margin-top: 0.2%;
  }
  nav ul li a{
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: bold;
    color: #F1FFD9;
    background-color: #304E69;
  }
 #banner{
  margin-top: 28%;
  width: 80vw;
  height: 15vh;
 }
 #Titulo{
  font-size: 1rem;
  margin-left: 5%;
 }
 #flex-container{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
justify-content:space-between;
  height: 10vw;
  width: 80VW;
  margin-left: 6%;
  margin-bottom: 12%;
 }
 .livros{
  height: 15vh;
  width: 10vw;
  margin-top: 4%;
  margin-left: 20%;
}
.escrita{
  margin-left: -100%;
  font-size: 0.7rem;
  width: 40vw;
}
.sombra{
  width: 35vw;
  height: 28vh;
  margin-bottom: 7%;
  margin-right: 5%;
  margin-left: 10%;
}

.estrelas{
  width: 7vw;
  height: 8vh;
  margin-top: -20%;
  margin-left: -60%;
}
.preco{
  font-size: 1.5rem;
  margin-top: -15%;
  margin-left: -25%;
}
#autores{
  margin-top: 130%;
}
.img-autores{
  height: 18vh;
  width: 15VW;
}

.nomes{
  width: 32VW;
  font-size: 0.8rem;
  margin-left:22%;
}
#editoras{
  margin-top: 75%;
}
#contato{
  background-color: #144E80;
  height: 29vh;
  width: 100VW;
}

#cadastro{
  background-color:#fff;
  border:solid 2px #217CCC;
  width:39.4;
  height:5vh;
  float: left;
  margin-left: 33%;
}

#email{
  float:left;
  background-color:transparent;
  font-size: 1rem;
  border:none;
  height:5vh;
  width:30vw}
#enviar{
  height:5vh;
  width:11.2v;w
  margin-left: -5%;
}
#redes{
  width: 20vh;
  height: 15vw;
  margin-left:-1%;

}
.nomess{
  font-size: 1Rem;
  margin-left: 83%;
}
  
}
@media screen and (max-width:300px)
{
  #btnBusca{
    font-size: 0.4rem;
  }
  #txtBusca{
    font-size: 0.8rem;
  }
  nav {
    margin-top: 3.5%;
    height: 4vh;
   width: 110vw;
}
header{
  width: 110vw;
}
#banner{
  margin-top: 28%;
  width: 90vw;
  height: 18vh;
  margin-left: 7%;
}
nav ul{
  margin-left: 9%;
}
li{
  margin-right: 10%;
}
nav ul li a{
  font-size: 0.5rem;
}
#Titulo{
  font-size: 1rem;
  margin-left: 5%;
 }
 .livros{
  height: 15vh;
 }
.escrita{
  font-size: 0.5rem;
}
.sombra{
  width: 35vw;
}
#autores{
  margin-top: 135%;
}
.preco{
  font-size: 1rem;
}
.nomes{
  width: 32VW;
  font-size: 0.6rem;
  margin-left:2%;
}
#editoras{
  margin-top: 80%;
}
#contato{
  width: 110vw;
}
#redes{
  width: 26vh;
}
#logos{
  margin-left: 25%;
}
#enviar{
  font-size: 0.5rem;
}
} 
@media screen and (max-width:264px)
{
  #banner{
    margin-top: 32%;
  }
  header{
    width: 110vw;
  }
  #txtBusca{
    font-size: 0.6rem;
  }
  .img-autores{
    height: 16vh;
    margin-left: 2%;
    margin-left: 0.5%;
  }
  .livros{
    height: 11vh;
   }
  nav {
    margin-top: 4%;
    height: 4vh;
   width: 110vw;
}
 li{
   margin-top: 0.2%;
 }
 nav ul li a{
   font-size: 0.4rem;
 }
 .nomes{
  width: 32VW;
  font-size: 0.6rem;
  margin-left:2%;
}
.nomess{
  font-size: 0.8rem;
  margin-left: 50%;
}
#contato{
  width: 110vw;
}
#redes{
  width: 24vh;
}
#autores{
  margin-top: 145%;
}
#editoras{
  margin-top: 85%;
}
}
