@import url('https://fonts.googleapis.com/css2? family= IM+Fell+Great+Primer+SC & display=swap');
.imagens{
    margin-top: 15%;
    margin-left: 12%;
    height: 65vh;
   display: inline-flex;
}
.livros-nomes{
    margin-left: 50%;
   margin-top: -30%;
   margin-left: 38%;
   font-weight: bolder;
   font-size: 1.5rem;
}
.livros-nomess{
    display: inline-flex;
    margin-left: 38%;
    margin-top: 2%;
    
}
.livros-nomesss{
   display: inline-flex;
   margin-left: 38%;
   margin-top: 2%;
   margin-right: 15%;
}
#name{

    color: #706A6A;
}
.preco{
    margin-top: 3%;
    margin-left: 50%;
    font-size: 2.5rem;
    display: inline-flex;
}
.botao{
    display: inline-flex;
    margin-top: 3%;
    margin-left: 45%;
    
}
.button{
    border-radius: 10px;
    border-color: #304E69 ;
    font-family: 'IM Fell Great Primer SC', serifa;
    background-color: #304E69;
    font-size: 2rem;
    color: #fff;
    width: 25vw;
    height: 11vh;
}
#contato{
    background-color: #144E80;
    height: 29.8vh;
    width: 100vw;
    margin-top: 13%;
}
.botao:hover{
    text-shadow: 5px 2px 5px #144E80;
}
@media screen and (max-width:931px)
{
    .livros-nomes{
        margin-left: 43%;
        margin-top: -40%;
     
    }
    .livros-nomess{
        margin-left: 43%;
        
    }
    .livros-nomesss{
       margin-left: 43%;
       margin-right: 10%;
    }
    .preco{
        margin-left: 55%;
  
    }
    .botao{
        margin-left: 50%;
    }
}
@media screen and (max-width:790px)
{
    .imagens{
        margin-left: 8%;
        height: 50vh;
    }
    .livros-nomes{
        margin-left: 38%;
        margin-top: -35%;
     
    }
    .livros-nomess{
        margin-left: 38%;
        
    }
    .livros-nomesss{
       margin-left: 38%;
       margin-right: 10%;
    }
    .preco{
        margin-left: 45%;
  
    }
    .botão{
        margin-left: 45%;
    }
}
@media screen and (max-width:678px)
{
    .imagens{
        margin-left: 6%;
        margin-top: 22%;
        height: 42vh;
    }
    .livros-nomes{
        margin-left: 38%;
        margin-top: -39%;
     }
     #contato{
        height: 50vh;
     }
}
@media screen and (max-width:550px)
{
   
    .livros-nomess{
        font-size: 0.8rem;
        
    }
    .livros-nomesss{
        font-size: 0.8rem;
    }
    .imagens{
        height: 38vh;
    }
    .livros-nomes{
        margin-left: 40%;
        margin-top: -38%;
        font-size: 0.8rem;
     }
     .preco{
        font-size: 2rem;
     }
     .button{
        font-size: 1rem;
        width: 25vw;
     }
        .botao{
            margin-left: 45%;
        }
}
@media screen and (max-width:500px)
{
    .imagens{
        height: 30vh;
    }
    .livros-nomes{
        margin-top: -32%;
     }
     #contato{
        margin-top: 13%;
        height: 36vh;
     }

}
@media screen and (max-width:484px)
{
    .livros-nomess{
        font-size: 0.7rem;
        
    }
    .livros-nomesss{
        font-size: 0.7rem;
    }
    .livros-nomes{
        margin-top: -36%;
        font-size: 0.7rem;
    
     }
     .imagens{
        height: 29vh;
        margin-top: 26%;
    }
    .preco{
        font-size: 1.5rem;
    }
    .button{
        width: 22vw;
        height: 8vh;
        font-size: 0.8rem;
    }
    #contato{
        margin-top: 35%;
    }
}
@media screen and (max-width:400px)
{
    .livros-nomess{
        font-size: 0.6rem;
        
    }
    .imagens{
        height: 20vh;
        margin-top: 26%;
    }
    .livros-nomesss{
        font-size: 0.6rem;
    }
    .livros-nomes{
        margin-top: -30%;
        font-size: 0.6rem;
    }
    .imagens{
        margin-top: 28%;
    }
    #contato{
        height: 35vh;
        margin-top: 50%;
    }
}
@media screen and (max-width:390px)
{
    
    .imagens{
        height: 27vh;
        margin-top: 42%;
    }
    .livros-nomess{
        font-size: 0.6rem;
        margin-left: 60%;
    }
    .livros-nomesss{
        font-size: 0.6rem;
        margin-left: 48%;
    }
    .livros-nomes{
        margin-top: -52%;
        font-size: 0.6rem;
        margin-left: 48%;
    }
    .button{
        width: 29vw;
        height: 5vh;
        font-size: 0.8rem;
    }
    #contato{
        margin-top: 60%;
        height: 27vh;
    }
}
@media screen and (max-width:330px)
{
    .imagens{
        height: 25vh;
        margin-top: 40%;
    }
    .livros-nomess{
        font-size: 0.7rem;
        margin-left: 40%;
    }
    .livros-nomesss{
        font-size: 0.6rem;
        margin-left: 40%;
    }
    .livros-nomes{
        margin-top: -48%;
        font-size: 0.7rem;
        margin-left: 40%;
    }
    #contato{
        margin-top: 50%;
        height: 38vh;
    }
}

@media screen and (max-width:285px)
{
    .livros-nomes{
        margin-top: -46%;
    }
    #contato{
        margin-top: 60%;
    }
}